*.swp
*.swo
*.swn
*.swm
.DS_Store
test
build
node_modules
snowflake-library.js
spec/support
webext/snowflake.js
webext/popup.js
webext/embed.html
webext/embed.css
webext/assets/
webext/_locales/
ignore/
npm-debug.log
